EASYPRO2_PROJECT_NAME=EasyPro 2
EASYPRO2_FRONTEND_URL=http://localhost:5179
EASYPRO2_BACKEND_URL=http://localhost:8000
EASYPRO2_POSTGRES_DB=easypro2
EASYPRO2_POSTGRES_USER=easypro2
EASYPRO2_POSTGRES_PASSWORD=easypro2
